// Variables names by website 'Name That Color' (http://chir.ag/projects/name-that-color/)

$colors-dark: #1d1c1c;
$colors-blue: #c7d0d8;
$colors-text: #b7b7b7;
$colors-link: #c7d0d8;
$colors-link-hover: #ff6347;